{% extends "layout.html" %}

{% block title %}
    Advice To Improve Your Mood
{% endblock %}

{% block main %}
    <h1 class="ttlAdvice">Ways To Improve And Mantain Your Mood</h1>

    <h3 class="subtitle">Ameliorate Your Anxiety</h3>
    <p class="par">Breathing Technique</p>
    <div class="wrapper">
        <div class="frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/odADwWzHR24" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <p class="par2">Relief for Anxiety and Fear</p>
    <div class="wrapper">
        <div class="frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6n8i7ua0mSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <h3 class="subtitle">Sleep Better</h3>
    <p class="par2">Tips for Better Sleep</p>
    <div class="wrapper">
        <div class="frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/t0kACis_dJE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <p class="par2">5 More Tips For Getting Better Sleep</p>
    <div class="wrapper">
        <div class="frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ebkF5NFQj2I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>


    <h3 class="subtitle">Understand and Ameliorate Your Depression</h3>
    <p class="par2">What is Depression</p>
    <div class="wrapper">
        <div class="frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fWFuQR_Wt4M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <p class="par2">What Depression Makes Us Do</p>
    <div class="wrapper">
        <div class="frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pcmoQinDhJ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <p class="par2">How to Cope With Depression</p>
    <div class="wrapper">
        <div class="frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8Su5VtKeXU8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <h3 class="subtitle">How to Make Friends and Communicate Better</h3>
    <p class="par2">How to Make Friends When You're Socially Awkward</p>
    <div class="wrapper">
        <div class="frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MP5CkokeygQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <p class="par2">How to Make Friends As An Adult</p>
    <div class="wrapper">
        <div class="frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NyhdltEyJ5I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <p class="par2">10 Ways to Have A Better Conversation</p>
    <div class="wrapper">
        <div class="frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/R1vskiVDwl4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}