{% extends "layout.html" %}

{% block title %}
    Graph
{% endblock %}

{% block main %}
<section class="graph">
        <h1 class="graphTitle">My Mood In Time</h1>
        <h5 class="adv">Go to ADVICE for improving or mantaining <br> your current emotional state</h5>
        <!-- Code from: https://www.chartjs3.com/docs/chart/getting-started/ -->
        <div class="cont">
        <div class="chartCard">
            <div class="chartBox">
              <canvas id="myChart"></canvas>
            </div>
          </div>
          <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
          //Setup
          const data = {
            // labels from flask using jinja
            labels: {{ label | safe }},
            datasets: [{
              label: 'Mood',
              // data from flask using jinja
              data: {{ value | safe }},
              // Styling the graph
              fill: true,
              backgroundColor: [
                '#2499A680',
                'rgba(255, 26, 104, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(0, 0, 0, 0.2)'
              ],
              borderColor: [
                'rgba(255, 26, 104, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(0, 0, 0, 1)'
              ],
              borderWidth: 1.5
            }]
          };

          // config
          const config = {
            type: 'line',
            data,
            options: {
              scales: {
                y: {
                  beginAtZero: true,
                  max: 45
                }
              }
            }
          };

          // render init block
          const myChart = new Chart(
            document.getElementById('myChart'),
            config
          );
          </script>
        </div>
</section>
{% endblock %}