<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Slab:wght@600&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Mood Tracker</title>
    </head>
    <body>
        <header>
            <div class="container">
                <a class="navbar-brand" href="/">Mood Tracker</a>
                <nav class="navigation">
                    <ul class="nav-list">
                        {% if session["user_id"] %}
                            <li class="nav-item"><a class="nav-link" href="/mood">Tracker</a></li>
                            <li class="nav-item"><a class="nav-link" href="/graph">Graph</a></li>
                            <li class="nav-item"><a class="nav-link" href="/advice">Advice</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <div class="reg-container">
                {% if session["user_id"] %}
                    <a class="cta" href="/logout"><button>LogOut</button></a>
                {% else %}
                    <a class="cta" href="/register"><button>Register</button></a>
                    <a class="cta" href="/login"><button>LogIn</button></a>
                {% endif %}
                </div>
            </div>
            {% if get_flashed_messages() %}
              <div class="alert" role="alert">
                  {{ get_flashed_messages() | join(" ") }}
              </div>
            {% endif %}
        </header>

      <main>
          {% block main %}{% endblock %}
      </main>

      <footer>
          <p>&copy 2022 Ana Marin</p>
      </footer>
  </body>
</html>