{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <section class="reg-log">
        <div class="form-wrap">
            <h3 class="regTitle">Log In</h3>
            <form class="form-reg" action="/login" method="post">
                <label class="name">
                    Username
                </label>
                <input autocomplete="off" autofocus class="name-input" id="username" name="username" placeholder="Username" type="text" required>
                <label class="password">
                    Password
                </label>
                <input class="pass-input" id="password" name="password" placeholder="Password" type="password" required>
                <p>If you don't already have an account, <a href="/register">REGISTER HERE.</a></p>
                <button class="cta" type="submit">LogIn</button>
            </form>
        </div>
    </section>
{% endblock %}
