{% extends "layout.html" %}

{% block title %}
    Mood Track
{% endblock %}

{% block main %}
<form action="/mood" method="post">
    <h1 class="title">Track your mood by <br> answering this questions daily</h1>

        <div class="form-control1">
            <label class="q">
                How is the quality of my sleep?
            </label>
            <br>
            <label class="answ" for="excellent">
                <input type="radio"
                       value="excellent"
                       name="option1">Excellent
            </label>
            <label class="answ" for="good">
                <input type="radio"
                       value="good"
                       name="option1">Good
            </label>
            <label class="answ" for="average">
                <input type="radio"
                       value="average"
                       name="option1">Average
            </label>
            <label class="answ" for="poor">
                <input type="radio"
                       value="poor"
                       name="option1">Poor
            </label>
        </div>

        <div class="space"></div>
        <div class="form-control2">
            <label class="q">
                How is my socializing with friends or other people?
            </label>
            <br>
            <label class="answ" for="excellent">
                <input type="radio"
                       value="excellent"
                       name="option2">Excellent
            </label>
            <label class="answ" for="good">
                <input type="radio"
                       value="good"
                       name="option2">Good
            </label>
            <label class="answ" for="average">
                <input type="radio"
                       value="average"
                       name="option2">Average
            </label>
            <label class="answ" for="poor">
                <input type="radio"
                       value="poor"
                       name="option2">Poor
            </label>
        </div>

        <div class="space"></div>
        <div class="form-control3">
            <label class="q">
                How is my level of calmness lately(as opossed to anxiety and worry)?
            </label>
            <br>
            <label class="answ" for="excellent">
                <input type="radio"
                       value="excellent"
                       name="option3">Excellent
            </label>
            <label class="answ" for="good">
                <input type="radio"
                       value="good"
                       name="option3">Good
            </label>
            <label class="answ" for="average">
                <input type="radio"
                       value="average"
                       name="option3">Average
            </label>
            <label class="answ" for="poor">
                <input type="radio"
                       value="poor"
                       name="option3">Poor
            </label>
        </div>

        <div class="space"></div>
        <div class="form-control4">
            <label class="q">
                How is my interest in activities and pursuits that usually held my attention?
            </label>
            <br>
            <label class="answ" for="excellent">
                <input type="radio"
                       value="excellent"
                       name="option4">Excellent
            </label>
            <label class="answ" for="good">
                <input type="radio"
                       value="good"
                       name="option4">Good
            </label>
            <label class="answ" for="average">
                <input type="radio"
                       value="average"
                       name="option4">Average
            </label>
            <label class="answ" for="poor">
                <input type="radio"
                       value="poor"
                       name="option4">Poor
            </label>
        </div>

        <div class="space"></div>
        <div class="form-control5">
            <label class="q">
                How is my level of happiness lately?
            </label>
            <br>
            <label class="answ" for="excellent">
                <input type="radio"
                       value="excellent"
                       name="option5">Excellent
            </label>
            <label class="answ" for="good">
                <input type="radio"
                       value="good"
                       name="option5">Good
            </label>
            <label class="answ" for="average">
                <input type="radio"
                       value="average"
                       name="option5">Average
            </label>
            <label class="answ" for="poor">
                <input type="radio"
                       value="poor"
                       name="option5">Poor
            </label>
        </div>

        <div class="space"></div>
        <div class="form-control6">
            <label class="q">
                How is my level of ease with myself and my surroundings?
            </label>
            <br>
            <label class="answ" for="excellent">
                <input type="radio"
                       value="excellent"
                       name="option6">Excellent
            </label>
            <label class="answ" for="good">
                <input type="radio"
                       value="good"
                       name="option6">Good
            </label>
            <label class="answ" for="average">
                <input type="radio"
                       value="average"
                       name="option6">Average
            </label>
            <label class="answ" for="poor">
                <input type="radio"
                       value="poor"
                       name="option6">Poor
            </label>
        </div>

        <div class="space"></div>
        <div class="form-control7">
            <label class="q">
                How is my ability to concentrate?
            </label>
            <br>
            <label class="answ" for="excellent">
                <input type="radio"
                       value="excellent"
                       name="option7">Excellent
            </label>
            <label class="answ" for="good">
                <input type="radio"
                       value="good"
                       name="option7">Good
            </label>
            <label class="answ" for="average">
                <input type="radio"
                       value="average"
                       name="option7">Average
            </label>
            <label class="answ" for="poor">
                <input type="radio"
                       value="poor"
                       name="option7">Poor
            </label>
        </div>

        <div class="space"></div>
        <div class="form-control8">
            <label class="q">
                How is my fatigue resistence?
            </label>
            <br>
            <label class="answ" for="excellent">
                <input type="radio"
                       value="excellent"
                       name="option8">Excellent
            </label>
            <label class="answ" for="good">
                <input type="radio"
                       value="good"
                       name="option8">Good
            </label>
            <label class="answ" for="average">
                <input type="radio"
                       value="average"
                       name="option8">Average
            </label>
            <label class="answ" for="poor">
                <input type="radio"
                       value="poor"
                       name="option8">Poor
            </label>
        </div>

        <div class="space"></div>
        <div class="form-control9">
            <label class="q">
                How is my appetite recently?
            </label>
            <br>
            <label class="answ" for="excellent">
                <input type="radio""
                       value="excellent"
                       name="option9">Excellent
            </label>
            <label class="answ" for="good">
                <input type="radio"
                       value="good"
                       name="option9">Good
            </label>
            <label class="answ" for="average">
                <input type="radio"
                       value="average"
                       name="option9">Average
            </label>
            <label class="answ" for="poor">
                <input type="radio"
                       value="poor"
                       name="option9">Poor
            </label>
        </div>

        <button class="btn" type="submit" value="submit">Submit</button>
</form>
{% endblock %}
